* {
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100%;
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}
header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
h1 {
    color: #75B79E;
    font-size: 56px;
    font-weight: 700;
    margin-top: 40px;
}
.container {
    margin-top: 47px;
    width: 872px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.card {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 34px;
    margin-bottom: 34px;
    transform-style: preserve-3d;
}
.face {
    width: 100%;
    height: 100%;
    background-color: #A7E9AF;
    border-radius: 10px;
    box-shadow: 1px 1px 1px rgba(0,0,0,.3);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    backface-visibility: hidden;
    transition: all .5s;
    transform-style: preserve-3d;
}
.imageParrot {
    width: 100px;
    height: 100px;
}
.back-face {
    transform: rotateY(180deg);
}
.turn .back-face {
    transform: rotateY(0deg);
}
.turn .front-face {
    transform: rotateY(-180deg);
}
.imageAnimations {
    width: 80px;
    height: 80px;
}
.watch {
    width: 80px;
    height: 40px;
    background-color: white;
    color: #75B79E;
    border-radius: 10px;
    margin-left: 60px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}